extends layout

block content
	- if (loggedin)
		include navUser
	- else
		include navPublic
	
	script(src="libs/lightbox/lightbox.js")
	link(href="libs/lightbox/lightbox.css", rel="stylesheet")	
	link(href="stylesheets/catViewer.css", rel="stylesheet")
					
	.container-narrow
		.row
			h2.hdr-line #{name}
		- each pic, i in images
			.thumb-div
				a(href="#{pic.path}", rel="lightbox[album]", title="#{pic.caption}")
					img.img-polaroid.thumb(src="#{pic.path}")
				- if (loggedin)
					form.comment-btn-form(id="form#{i}", action="/comment", method="post")
						button.comment-btn.btn.btn-small(id="btn#{i}", type="button", value="#{pic._id}")
							i.icon-pencil